@import '../../styles/settings.scss';

.card {
    // Twój istniejący styl
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.button_star {
    border: none;
    background-color: inherit;
    color: black;
    position: relative;
    
    &:hover {
        color: $color-warning;
    }

    &.isFavorite {
        color: $color-warning;
        transform: scale(1.5);
        
        &:hover {
            color: $color-warning;
        }
    }
}
