@import '../../styles/settings.scss';


.navBar {
  background-color: darken($color-dark, 3%);
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  * {
    font-size: 18px;
  }
  >div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }
}
  .homeIconWrapper {
    height: 60px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    width: 45%;
    a {

    }
    span {
      padding-right: $base-size;
      color: $color-warning;
      font-size: ($base-size * 2);
      vertical-align: middle;
      position: relative;
      font-size: 24px;
      color: $color-light;
      text-decoration: none;
      &:hover {
        color: $color-warning;
      }
    }
  }
  .linksListWrapper {
    height: 60px;
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: center;
    width: 45%;
    li {
      display: inline-block;
      padding: 0 10px;
      a {
        color: $color-light;
        text-decoration: none;
        &:hover {
          color: $color-warning;
        }
      }
    }
  }